
{% extends 'base.html' %}
{% load static %}


  {% block main %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down"><span>ProTech Builders</span></h2>
            <p data-aos="fade-up">We build dreams from the ground up.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url({% static "assets/img/hero-carousel/hero-carousel-1.jpg" %})"></div>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              <h3>Your Dream Construction Project, Our Expertise</h3>
              <p>At ProTech Builders, we believe in turning your construction dreams into reality. With a passion for excellence and a commitment to quality, we bring your vision to life, one brick at a time.</p>
              <p>Our team of skilled professionals is dedicated to delivering projects that stand tall in both craftsmanship and innovation. Whether it's a residential masterpiece or a commercial venture, we build with precision and purpose.</p>
              <p>Partner with us today and witness the transformation of your ideas into a concrete reality. Together, let's build the foundation for your success.</p>
            </div>
          </div>
        
          <div class="col-lg-5" data-aos="fade">
            <form action="forms/quote.php" method="post" class="php-email-form">
              <h3>Get a Quote</h3>
              <p>Ready to get started on your construction journey? Request a personalized quote from our team of construction experts.</p>
              <div class="row gy-3">
        
                <div class="col-md-12">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>
        
                <div class="col-md-12 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>
        
                <div class="col-md-12">
                  <input type="text" class="form-control" name="phone" placeholder="Your Phone Number" required>
                </div>
        
                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Tell us about your project" required></textarea>
                </div>
        
                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>
        
                  <button type="submit">Get a Quote</button>
                </div>
        
              </div>
            </form>
          </div><!-- End Quote Form -->
        
        </div>
        

      </div>
    </section><!-- End Get Started Section -->

    <!-- ======= Constructions Section ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Constructions</h2>
          <p>Here, you can explore some of our recent and noteworthy construction endeavors that showcase our dedication to excellence and commitment to quality craftsmanship.</p>
        </div>
        
        <div class="row gy-4">
        
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url({% static "assets/img/constructions-1.jpg" %});"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Exquisite Residential Project</h4>
                    <p>Step into the world of elegance and sophistication with our exquisite residential construction. Every detail, carefully crafted, echoes the vision of our esteemed clients. Experience comfort and luxury like never before.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->
        
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url({% static "assets/img/constructions-2.jpg" %});"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Innovative Commercial Hub</h4>
                    <p>Witness innovation and functionality come together in our exceptional commercial construction. Designed to boost productivity and leave a lasting impression, this project is a testament to our dedication to excellence.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->
        
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url({% static "assets/img/constructions-3.jpg" %});"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Modern Recreational Facility</h4>
                    <p>Experience leisure and recreation in a whole new way with our modern recreational construction. Designed to inspire and captivate, this project showcases our attention to detail and commitment to customer satisfaction.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->
        
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url({% static "assets/img/constructions-4.jpg" %});"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Sustainable Green Building</h4>
                    <p>Witness our commitment to the environment with our sustainable green building project. Designed to reduce the carbon footprint and promote eco-friendliness, this construction is a testament to our values and ethics.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->
        
        </div>
        
      </div>
    </section><!-- End Constructions Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
          <p>At ProTech Builders, we take pride in offering a wide range of construction services to cater to diverse needs and requirements. Our expert team is dedicated to delivering exceptional results, ensuring your satisfaction at every step of the way.</p>
        </div>
        
        <div class="row gy-4">
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Residential Construction</h3>
              <p>Create your dream home with our expert residential construction services. From custom designs to meticulous craftsmanship, we build spaces that reflect your style and meet your family's needs.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Commercial Construction</h3>
              <p>Experience the power of functional and aesthetically pleasing commercial spaces with our top-notch commercial construction services. Boost your business with spaces designed for success.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Renovation and Remodeling</h3>
              <p>Revitalize your living or working space with our renovation and remodeling services. Enhance functionality, aesthetics, and value, breathing new life into your property.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Landscaping and Outdoor Spaces</h3>
              <p>Transform your outdoor areas into inviting havens with our landscaping and outdoor space services. Enjoy beautiful gardens, patios, and outdoor living areas tailored to your preferences.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-helmet-safety"></i>
              </div>
              <h3>Project Management</h3>
              <p>Leave the complexities of construction project management to us. Our experienced team ensures seamless coordination, timely execution, and cost-effective solutions for your projects.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Interior Design</h3>
              <p>Elevate your living or working spaces with our interior design services. From concept to execution, we infuse creativity and functionality into every detail, delivering captivating interiors.</p>

            </div>
          </div><!-- End Service Item -->
        
        </div>
        

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our values</h2>
          <p>At ProTech Builders, we take pride in customer satisfaction..</p>
        </div>

        <ul class="nav nav-tabs row g-2 d-flex">

          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4>Quality Craftsmanship</h4>
            </a>
          </li><!-- End tab nav item -->
        
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>On-Time Delivery</h4>
            </a><!-- End tab nav item -->
        
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>Client-Centric Approach</h4>
            </a>
          </li><!-- End tab nav item -->
        
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <h4>Sustainable Solutions</h4>
            </a>
          </li><!-- End tab nav item -->
        
        </ul>
        
        <div class="tab-content">
        
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Quality Craftsmanship</h3>
                <p class="fst-italic">
                  At ProTech Builders, we take pride in our dedication to delivering top-notch craftsmanship in every project we undertake.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Our skilled and experienced team ensures precision and attention to detail in every aspect of construction.</li>
                  <li><i class="bi bi-check2-all"></i> We use the finest materials and modern techniques to achieve outstanding results that stand the test of time.</li>
                  <li><i class="bi bi-check2-all"></i> Our commitment to quality is evident in the exceptional finishes and durability of our completed projects.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src= {% static "assets/img/features-1.jpg" %} alt="Quality Craftsmanship" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->
        
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>On-Time Delivery</h3>
                <p class="fst-italic">
                  We understand the importance of timely project completion. At ProTech Builders, we prioritize delivering projects on schedule.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> Our team meticulously plans and manages each project to meet deadlines without compromising quality.</li>
                  <li><i class="bi bi-check2-all"></i> We employ efficient project management practices to minimize delays and ensure smooth progress.</li>
                  <li><i class="bi bi-check2-all"></i> Our commitment to punctuality has earned us the trust of our clients, making us a reliable construction partner.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src= {% static "assets/img/features-2.jpg" %} alt="On-Time Delivery" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->
        
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Client-Centric Approach</h3>
                <p class="fst-italic">
                  Our clients are at the heart of everything we do. We believe in collaborative partnerships and prioritize client satisfaction.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> We actively listen to our clients' needs and aspirations, tailoring solutions to match their vision.</li>
                  <li><i class="bi bi-check2-all"></i> Open communication and transparent processes ensure clients are informed and involved throughout the project.</li>
                  <li><i class="bi bi-check2-all"></i> Our dedicated team is committed to delivering beyond expectations, earning trust and loyalty from our clients.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src= {% static "assets/img/features-3.jpg" %} alt="Client-Centric Approach" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->
        
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>Sustainable Solutions</h3>
                <p class="fst-italic">
                  As a responsible construction company, we prioritize sustainability and eco-friendly practices in all our projects.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> We incorporate green building principles to minimize environmental impact and enhance energy efficiency.</li>
                  <li><i class="bi bi-check2-all"></i> Our team explores innovative solutions that reduce waste, conserve resources, and promote eco-conscious living.</li>
                  <li><i class="bi bi-check2-all"></i> By embracing sustainable practices, we contribute to a greener future and create healthier spaces for communities.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src= {% static "assets/img/features-4.jpg" %} alt="Sustainable Solutions" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->
        
        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Our Projects Section ======= -->
    <section id="projects" class="projects">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Projects</h2>
          <p>Our team of highly trained professionals brings a wealth of knowledge and expertise to every project we undertake. From residential to commercial construction, we have successfully completed numerous projects, earning the trust and satisfaction of our valued clients.</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-remodeling">Remodeling</li>
            <li data-filter=".filter-construction">Construction</li>
            <li data-filter=".filter-repairs">Repairs</li>
            <li data-filter=".filter-design">Design</li>
          </ul><!-- End Projects Filters -->

          <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src= {% static "assets/img/projects/remodeling-1.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Remodeling</h4>
                  <a href={% static "assets/img/projects/remodeling-1.jpg" %} title="Remodeling 1" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/construction-1.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Construction</h4>
                  <a href={% static "assets/img/projects/construction-1.jpg" %} title="Construction 1" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/repairs-1.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Repairs</h4>
                  <a href={% static "assets/img/projects/repairs-1.jpg" %} title="Repairs 1" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/design-1.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Design</h4>
                  <a href={% static "assets/img/projects/design-1.jpg" %} title="Repairs 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/remodeling-2.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Remodeling</h4>
                  <a href={% static "assets/img/projects/remodeling-2.jpg" %} title="Remodeling 2" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/construction-2.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Construction</h4>
                  <a href={% static "assets/img/projects/construction-2.jpg" %} title="Construction 2" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/repairs-2.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Repairs</h4>
                  <a href={% static "assets/img/projects/repairs-2.jpg" %} title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/design-2.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Design</h4>
                  <a href={% static "assets/img/projects/design-2.jpg" %} title="Repairs 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/remodeling-3.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Remodeling</h4>
                  <a href={% static "assets/img/projects/remodeling-3.jpg" %} title="Remodeling 3" data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-construction">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/construction-3.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Construction</h4>
                  <a href={% static "assets/img/projects/construction-3.jpg" %} title="Construction 3" data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/repairs-3.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Repairs</h4>
                  <a href={% static "assets/img/projects/repairs-3.jpg" %} title="Repairs 2" data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

            <div class="col-lg-4 col-md-6 portfolio-item filter-design">
              <div class="portfolio-content h-100">
                <img src={% static "assets/img/projects/design-3.jpg" %} class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Design</h4>
                  <a href={% static "assets/img/projects/design-3.jpg" %} title="Repairs 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                  
                </div>
              </div>
            </div><!-- End Projects Item -->

          </div><!-- End Projects Container -->

        </div>

      </div>
    </section><!-- End Our Projects Section -->


  </main><!-- End #main -->
{% endblock main %}
 