{% extends 'base.html' %}
{% load static %}
  {% block main %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url({% static 'assets/img/breadcrumbs-bg.jpg' %});">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Services</h2>
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>Services</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
          <p>At ProTech Builders, we take pride in offering a wide range of construction services to cater to diverse needs and requirements. Our expert team is dedicated to delivering exceptional results, ensuring your satisfaction at every step of the way.</p>
        </div>
        
        <div class="row gy-4">
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-mountain-city"></i>
              </div>
              <h3>Residential Construction</h3>
              <p>Create your dream home with our expert residential construction services. From custom designs to meticulous craftsmanship, we build spaces that reflect your style and meet your family's needs.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Commercial Construction</h3>
              <p>Experience the power of functional and aesthetically pleasing commercial spaces with our top-notch commercial construction services. Boost your business with spaces designed for success.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Renovation and Remodeling</h3>
              <p>Revitalize your living or working space with our renovation and remodeling services. Enhance functionality, aesthetics, and value, breathing new life into your property.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Landscaping and Outdoor Spaces</h3>
              <p>Transform your outdoor areas into inviting havens with our landscaping and outdoor space services. Enjoy beautiful gardens, patios, and outdoor living areas tailored to your preferences.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-helmet-safety"></i>
              </div>
              <h3>Project Management</h3>
              <p>Leave the complexities of construction project management to us. Our experienced team ensures seamless coordination, timely execution, and cost-effective solutions for your projects.</p>

            </div>
          </div><!-- End Service Item -->
        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-arrow-up-from-ground-water"></i>
              </div>
              <h3>Interior Design</h3>
              <p>Elevate your living or working spaces with our interior design services. From concept to execution, we infuse creativity and functionality into every detail, delivering captivating interiors.</p>

            </div>
          </div><!-- End Service Item -->
        
        </div>
        

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  {% endblock main %}